<header>
    CHAT
</header>
<!-- <div class="user-list">
    <article (click)="setUser(user)" class="user" *ngFor="let user of (users | async)?.results">
        <app-avatar [user]="user?.picture?.medium"></app-avatar>
        <h3>
            {{ user?.name?.title }}. 
            {{ user.name.first }} 
            {{ user.name.last }}
        </h3>
    </article>
</div> -->

<router-outlet></router-outlet>

<!-- <p *ngFor="let message of messages"> -->
    <!-- <app-avatar [user]="message.image"></app-avatar> -->
    <!-- <span>{{ message.username }}:</span>
    {{ message.message}}
</p>
<app-text class="text" (written)="sayHi($event)"></app-text> -->
